:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  --white-100: #fff;
  --grey-400: #F4F4F5;
  --grey-500: #E4E4E7;
  --grey-700: #53525A;
  --grey-900: #18181B;
  --black-900: #000;

  --card-radius: 1rem;

  color: var(--grey-700);
}


body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background-color: var(--grey-400);
}

h1,h2,h3,h4,h5 {
  padding: 0;
  margin: 0;
  color: var(--black-900);
}

.card {
  padding: 1rem;
  border: 2px solid var(--black-900);
  border-radius: var(--card-radius);
  box-shadow: 0.2rem 0.2rem 0 var(--black-900);
}

@media (min-width: 600px) {
  .card {
    padding: 1.5rem;
  }
}

#app {
  max-width: 44rem;
  margin: 0 auto;
}

