@font-face {
	font-family: "Hobeaux Bold";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("/fonts/Hobeaux-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Apparat";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("/fonts/Apparat-Regular.otf") format("opentype");
}

@font-face {
	font-family: "Apparat";
	font-style: normal;
	font-weight: bold;
	font-display: swap;
	src: url("/fonts/Apparat-Extrabold.otf") format("opentype");
}

* {
	box-sizing: border-box;
}

:root {
	font-family: "Apparat", system-ui, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	--white-100: #fff;

	--grey-400: #f4f4f5;
	--grey-500: #e4e4e7;
	--grey-600: #8b8b8d;
	--grey-700: #53525a;
	--grey-900: #18181b;

	--black-900: #000;

	--yellow-400: #fff202;
	--yellow-500: #e5d901;
	--yellow-grey: #fffccc;

	--shadow-size: 0.2rem;
	--card-radius: 1rem;

	--orange-300: #fff3cd;
	--orange-400: #ffc107;

	color: var(--grey-700);
}

body {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	min-height: 100vh;
	background-color: var(--grey-400);
}

h1,
h2,
h3,
h4,
h5 {
	padding: 0;
	margin: 0;
	color: var(--black-900);
	font-family: "Hobeaux Bold", sans-serif;
}

h2 {
	font-size: 1.5rem;
}

a {
	text-decoration: none;
	color: var(--black-900);
	font-size: 0.875rem;
	opacity: 0.85;
	transition: opacity 0.1s;

	&:hover {
		opacity: 1;
	}
}

button {
	--height: 2.5rem;
	font-family: inherit;
	font-weight: bold;
	height: var(--height);
	border: 2px solid var(--black-900);
	border-radius: calc(var(--height) / 2);
	box-shadow: var(--shadow-size) var(--shadow-size) 0 var(--black-900);
	color: var(--black-900);
	background-color: var(--yellow-400);
	font-size: 0.85rem;
	font-weight: bold;
	margin: 0;
	cursor: pointer;
	transition:
		box-shadow 0.05s linear,
		transform 0.05s linear;
	text-transform: uppercase;
	padding: 0 0.75rem;
	-webkit-tap-highlight-color: transparent;
	touch-action: manipulation;

	&:hover {
		background-color: var(--yellow-500);
	}

	&:active {
		background-color: var(--yellow-500);
		box-shadow: 0 0 0 var(--black-900);
		transform: translate(var(--shadow-size), var(--shadow-size));
	}

	&:disabled {
		opacity: 0.5;
		background-color: var(--yellow-grey);
		cursor: not-allowed;
		pointer-events: none;
	}
}

input[type="text"] {
	border: 2px solid var(--black-900);
	padding: 0.5rem;
	font-size: 1rem;
	font-family: inherit;
	border-radius: calc(var(--card-radius) / 2);
	background: var(--white-100);
	outline: none;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#app {
	max-width: 44rem;
	width: 100%;
	margin: 0 auto;
}

.card {
	padding: 1rem;
	border: 2px solid var(--black-900);
	border-radius: var(--card-radius);
	box-shadow: var(--shadow-size) var(--shadow-size) 0 var(--black-900);
}

@media (min-width: 600px) {
	.card {
		padding: 1.5rem;
	}

	button {
		font-size: 1rem;
	}

	h2 {
		font-size: 2rem;
	}
}
